#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=mate-panel-launcher
Name[en_US]=FastQC
Exec=/usr/bin/fastqc
Name=FastQC
Icon=/home/genomics/.icons/fastqc.png
